@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-uno {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-dos {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-tres {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-cuatro {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-cinco {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-seis {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-siete {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-ocho {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-nueve {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-diez {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-uno {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-dos {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-tres {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-cuatro {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-cinco {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 2500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-seis {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-siete {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 3500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-ocho {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-nueve {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 4500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-medio-diez {
    opacity: 0;
    animation-name: fade;
    animation-duration: 300ms;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}