$brand-color: #84A0B4;
$light-brand-color: #aec0ce;
$accent-brand-color: #536878;
$grey: rgb(85, 85, 85);
$interactive: #8c1616;

$main-font: 'SourceSansPro', Arial, sans-serif;
$bold-main-font: 'SourceSansProBold', Arial, sans-serif;
$title-font: 'Montserrat', Arial, sans-serif;
$bold-font: 'MontserratBold', Arial, sans-serif;
$font-color: rgb(21, 21, 21);

$shadow: 0 1px 3px rgba(0,0,0, 0.12), 1px 0 3px rgba(0,0,0, 0.12);
$mega-shadow: 4px 4px 8px rgba(0,0,0, 0.2),
              -4px 4px 8px rgba(0,0,0, 0.2),
              4px -4px 8px rgba(0,0,0, 0.2),
              -4px -4px 8px rgba(0,0,0, 0.2);
